body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efeeed;
}

.app-container {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}