.card {
  max-width: 1200px;
  min-width: 600px;
  height: auto;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 5px 1px #dbdad9;
}

.card:first-child {
  margin-top: 65px;
}

.card-content {
  display: flex;
  /* border: 3px solid pink; */
}

.career-title {
  /* border: 1px solid red; */
  color: #1964eb;
  font-weight: 600;
  font-size: 25px;
}

.career-desc {
  /* border: 1px solid blue; */
  color: #203a50;
  font-size: 16px;
}

.img-container {
  /* border: 2px solid green; */
}

.image {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10%;
}

.subCard-block-container {
  display: flex;
  /* border: 2px solid green; */
  color: #203a50;
}

.subCard-block {
  /* border: 1px solid purple; */
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 800px){
  .img-container {
    display: none;
  }

  .card {
    width: fit-content;
    margin-left: 0;
  }
  @media (max-width: 600px){

    .subCard-block-container {
      flex-direction: column;
    }

    @media (max-width: 540px){
      .card {
        margin-left: 0;
        min-width: 300px;
      }
      .subCard-block {
        margin-left: 0;
      }

      @media (max-width: 400px) {
        .card {
          width: 320px;
        }
        
        .career-title {
          width: 290px;
          margin: 0;
        }

        .career-desc {
          width: 290px;
          margin: 0;
          
        }
        .subCard-block {
          width: 290px;
        }
      }
    }
  }
}