.education-block {
  display: flex;
  align-items: center;
  min-width: 380px;
  /* border: 2px solid navy; */
}

.education-level-text {
  /* border: 1px solid red; */
  text-align: left;
  width: 51%;
  margin: 0;
  max-width: 250px;
}

/* Overwritting the bootstrap css styles to make
    progress bar look like png image
*/
.progress {
  height: 8px !important;
  border-radius: 0 !important;
}

.progress-bar {
  background-color: #aa0000 !important;
}

.percentage-bar-container {
  width: 40%;
  /* border: 1px solid blue; */
}

.education-percentage-bar {
  margin-left: 5%;
}

.percentage-number {
  margin: 0;
  margin-left: 10px;
  /* border: 1px solid orange; */
}

@media (max-width: 400px) {
  .education-block {
    flex-direction: column;
    align-items: center;
    min-width: 290px;
  }

  .percentage-number {
    width: 50px;
  }
}