.education-block {
  display: flex;
  align-items: center;
  min-width: 380px;
  border: 2px solid navy;
}

.education-level-text {
  border: 1px solid red;
  text-align: left;
  width: 51%;
  margin: 0;
  max-width: 250px;
}

/* Overwritting the bootstrap css styles to make
    progress bar look like png image
*/
.progress {
  height: 8px !important;
  border-radius: 0 !important;
}

.progress-bar {
  background-color: #c52a51 !important;
}

.percentage-bar-container {
  width: 40%;
  border: 1px solid blue;
}

.education-percentage-bar {
  /* width: 50px; */
  /* height: 100%; */
  margin-left: 5%;
}

.percentage-number {
  margin: 0;
  margin-left: 10px;
  width: 9%;
  border: 1px solid orange;
}

@media (max-width: 400px) {
  .education-block {
    flex-direction: column;
    align-items: center;
    min-width: 290px;
    /* color: red; */
  }

  .percentage-number {
    width: 50px;
  }
}