.block-header {
  display: flex;
  /* border: 3px solid red; */
}

.icon-container {
  background-color:  #d8d8d8;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  padding: 5px;
}

.header-block-text {
  /* border: 1px solid red; */
  margin-bottom: 0;
  margin-left: 7px;
}