.block-content {
  /* border: 1px solid red; */
  margin-left: 40px;
}

.block-content div:first-child p:first-child {
  font-weight: 700;
}

@media (max-width:540px) {
  .block-content {
    margin: 0;
  }
  @media (max-width: 400px){
    .block-content {
      width: 290px;
    }
  }
}